<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new book</title>
</head>
<body>
<form th:method="POST" th:action="@{/books/new}" th:object="${book}">
    Add new book
    <br/>
    <label for="title">Enter book title</label>
    <input type="text" th:field="*{title}" id="title"/>
    <br/>
    <label for="author">Enter book author</label>
    <input type="text" th:field="*{author}" id="author">
    <br/>
    <label for="year">Enter year</label>
    <input type="text" th:field="*{year}" id="year">

    <br/>
    <hr/>
    <input type="submit"/>

</form>

</body>
</html>